<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <meta charset="utf-8">
    <style>
        body{
            background-color: #fff;
            padding: 40px;
        }

        .form{
            background-color: aliceblue;
            margin: auto;
            width: 600px;
            padding: 10px 20px;
            border: ridge 3px;
        }

        input{
            box-sizing: border-box;
            width: 100%;
            margin-top: 10px;
            height: 35px;
        }
        .title{
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="form">
        <h1 class="title">Blog Editor</h1>
        <hr>
        <table>
            <tr>
                <td>文章标题</td>
                <td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>文章简介</td>
                <td><textarea class="input2" id="note" rows="5" cols="75" name="note" ></textarea></td>

            </tr>
            <tr>
                <td>文章内容</td>
                <td><textarea class="input3" id="content" rows="15" cols="75" name="content" ></textarea></td>
            </tr>
            <tr>
                <td clospan="2">
                    <button onclick="publish(this)">发布</button>
                </td>
            </tr>
        </table>
    </div>

    <script>
        function publish(){
            var title = $("#title").val();
            var abstract = $("#abstrct").val();
            var content = $("#content").val();
            var param_data = {"title": title, "abstrct": abstrct, "content": content};
            $.ajax({
                type:'PUT',
                url:'/edit',
                contentType:'application/json',
                withCredentials:true,
                data:JSON.stringify(param_data),
                success:function(data){
                    alert("发布成功！");
                },
                error:function(data){
                    alert("发布失败！");
                    console.log(data);
                    return;
                }
            });
        }
    </script>
</body>